<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966175448258-gasvcjs88nu9j1ke75crn846c0p51p0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966175448258-gasvcjs88nu9j1ke75crn846c0p51p0r</string>
	<key>API_KEY</key>
	<string>AIzaSyDrTUoclLYoBlNqmmSJaYn69ZFQCIP2pgk</string>
	<key>GCM_SENDER_ID</key>
	<string>966175448258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>berkeley.Borrow</string>
	<key>PROJECT_ID</key>
	<string>borrow-e91f0</string>
	<key>STORAGE_BUCKET</key>
	<string>borrow-e91f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966175448258:ios:eac527044af9870f</string>
	<key>DATABASE_URL</key>
	<string>https://borrow-e91f0.firebaseio.com</string>
</dict>
</plist>